<!DOCTYPE html>
<html>
  <head>
    <title><%= title2 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title2 %></h1>
    <p>Welcome to <%= title2 %></p>
            <ul><li><a href="/big/small">small</a></li><ul>

  </body>
</html>
